<div style="text-align: center">
    <button id="hourly_scale" class="btn btn-primary" style="font-size:10px;padding:10px;">
      Hourly
    </button>
    &nbsp;
    &nbsp;
    <button id="daily_scale" class="btn btn-primary" style="font-size:10px;padding:10px;">
      Daily
    </button>
    &nbsp;
    &nbsp;
    <button id="monthly_scale" class="btn btn-primary" style="font-size:10px;padding:10px;">
      Monthly
    </button>
</div>
<br><br>
<div>
  <canvas id="canvas" style="display: block; width: 621px; height: 310px;" width="621" height="310" class="chartjs-render-monitor"></canvas>
</div>


<!-- CHART.JS -->
<script>
// https://www.chartjs.org/samples/latest/scales/time/line.html
    var timeFormat = 'YYYY-MM-DDTHH:MM:SS+';

    function newDate(days) {
        return moment().add(days, 'd').toDate();
    }

    function newDateString(days) {
        return moment().add(days, 'd').format(timeFormat);
    }

    var color = Chart.helpers.color;
    var config1 = {
        type: 'line',
        data: {
            labels: [ // Date Objects
                /*newDate(0),
                newDate(1),
                newDate(2),
                newDate(3),
                newDate(4),
                newDate(5),
                newDate(6)*/
            ],
            datasets: [{
                label: 'On Demand',
                backgroundColor: color(window.chartColors.red).alpha(0.5).rgbString(),
                borderColor: window.chartColors.red,
                fill: false,
                data: [
                    {% for price in priceHistory.hourlyOnDemand %}
                    {x: "{{price.crawlTime|date:"c"}}", y: {{price.pricePerHour}}},
                    {% endfor %}
                ],
            }, {
                label: 'Reserved (1yr, no up front)',
                backgroundColor: color(window.chartColors.purple).alpha(0.5).rgbString(),
                borderColor: window.chartColors.purple,
                fill: false,
                data: [
                    {% for price in priceHistory.hourlyReserved1yrNoUpfront %}
                    {x: "{{price.crawlTime|date:"c"}}", y: {{price.pricePerHour}}},
                    {% endfor %}
                ],
            }, {
                label: 'Spot',
                backgroundColor: color(window.chartColors.green).alpha(0.5).rgbString(),
                borderColor: window.chartColors.green,
                fill: false,
                data: [
                    {% for price in priceHistory.hourlySpot %}
                    {x: "{{price.crawlTime|date:"c"}}", y: {{price.pricePerHour}}},
                    {% endfor %}
                ],
            }]
        },
        options: {
            title: {
                text: 'Chart.js Time Scale'
            },
            scales: {
                xAxes: [{
                    type: 'time',
                    time: {
                        // parser: timeFormat,
                        // round: 'day'
                        tooltipFormat: 'll HH:mm'
                    },
                    scaleLabel: {
                        display: true,
                        labelString: 'Date'
                    }
                }],
                yAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: 'Price per Hour'
                    },
                    ticks: {
                        beginAtZero: true
                    }
                }]
            },
        }
    };
    var config2 = {
        type: 'line',
        data: {
            labels: [ // Date Objects
                /*newDate(0),
                newDate(1),
                newDate(2),
                newDate(3),
                newDate(4),
                newDate(5),
                newDate(6)*/
            ],
            datasets: [{
                label: 'On Demand',
                backgroundColor: color(window.chartColors.red).alpha(0.5).rgbString(),
                borderColor: window.chartColors.red,
                fill: false,
                data: [
                    {% for price in priceHistory.dailyOnDemand %}
                    {x: "{{price.crawlTime|date:"c"}}", y: {{price.pricePerHour}}},
                    {% endfor %}
                ],
            }, {
                label: 'Reserved (1yr, no up front)',
                backgroundColor: color(window.chartColors.purple).alpha(0.5).rgbString(),
                borderColor: window.chartColors.purple,
                fill: false,
                data: [
                    {% for price in priceHistory.dailyReserved1yrNoUpfront %}
                    {x: "{{price.crawlTime|date:"c"}}", y: {{price.pricePerHour}}},
                    {% endfor %}
                ],
            }, {
                label: 'Spot',
                backgroundColor: color(window.chartColors.green).alpha(0.5).rgbString(),
                borderColor: window.chartColors.green,
                fill: false,
                data: [
                    {% for price in priceHistory.dailySpot %}
                    {x: "{{price.crawlTime|date:"c"}}", y: {{price.pricePerHour}}},
                    {% endfor %}
                ],
            }]
        },
        options: {
            title: {
                text: 'Chart.js Time Scale'
            },
            scales: {
                xAxes: [{
                    type: 'time',
                    time: {
                        // parser: timeFormat,
                        // round: 'day'
                        tooltipFormat: 'll HH:mm'
                    },
                    scaleLabel: {
                        display: true,
                        labelString: 'Date'
                    }
                }],
                yAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: 'Price per Hour'
                    },
                    ticks: {
                        beginAtZero: true
                    }
                }]
            },
        }
    };
    var config3 = {
        type: 'line',
        data: {
            labels: [ // Date Objects
                /*newDate(0),
                newDate(1),
                newDate(2),
                newDate(3),
                newDate(4),
                newDate(5),
                newDate(6)*/
            ],
            datasets: [{
                label: 'On Demand',
                backgroundColor: color(window.chartColors.red).alpha(0.5).rgbString(),
                borderColor: window.chartColors.red,
                fill: false,
                data: [
                    {% for price in priceHistory.monthlyOnDemand %}
                    {x: "{{price.crawlTime|date:"c"}}", y: {{price.pricePerHour}}},
                    {% endfor %}
                ],
            }, {
                label: 'Reserved (1yr, no up front)',
                backgroundColor: color(window.chartColors.purple).alpha(0.5).rgbString(),
                borderColor: window.chartColors.purple,
                fill: false,
                data: [
                    {% for price in priceHistory.monthlyReserved1yrNoUpfront %}
                    {x: "{{price.crawlTime|date:"c"}}", y: {{price.pricePerHour}}},
                    {% endfor %}
                ],
            }, {
                label: 'Spot',
                backgroundColor: color(window.chartColors.green).alpha(0.5).rgbString(),
                borderColor: window.chartColors.green,
                fill: false,
                data: [
                    {% for price in priceHistory.monthlySpot %}
                    {x: "{{price.crawlTime|date:"c"}}", y: {{price.pricePerHour}}},
                    {% endfor %}
                ],
            }]
        },
        options: {
            title: {
                text: 'Chart.js Time Scale'
            },
            scales: {
                xAxes: [{
                    type: 'time',
                    time: {
                        // parser: timeFormat,
                        // round: 'day'
                        tooltipFormat: 'll HH:mm'
                    },
                    scaleLabel: {
                        display: true,
                        labelString: 'Date'
                    }
                }],
                yAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: 'Price per Hour'
                    },
                    ticks: {
                        beginAtZero: true
                    }
                }]
            },
        }
    };

var ctx = document.getElementById('canvas').getContext('2d');
window.myLine = new Chart(ctx, config1);

$("#hourly_scale").on("click", function() {
    window.myLine.destroy()
    window.myLine = new Chart(ctx, config1);
  });

$("#daily_scale").on("click", function() {
    window.myLine.destroy()
    window.myLine = new Chart(ctx, config2);
  });

$("#monthly_scale").on("click", function() {
    window.myLine.destroy()
    window.myLine = new Chart(ctx, config3);
  });

</script>
