{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load contrail %}

{% block title %}{{ rawInstanceDetails.instanceType }} - {% firstof rawInstanceDetails.location rawInstanceDetails.region %} - CONTRAIL{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
<!-- CHART.JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
<script src="https://www.chartjs.org/dist/2.8.0/Chart.min.js"></script>
<script src="https://www.chartjs.org/samples/latest/utils.js"></script>
{% endblock %}

{% block content %}
<br><br><br><br><br>
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 style="text-align: center;">{{ rawInstanceDetails.provider }} {{ rawInstanceDetails.instanceType }}</h1>
        <h2 style="text-align: center;">{% firstof rawInstanceDetails.location rawInstanceDetails.region %}</h2>
      </div>
    </div>
  </div>
</div>


  <div class="container">

    <br><br>
        <div class="row">
          {% if rawInstanceDetails.provider == 'AmazonEC2' and currentPrices.spot.pricePerHour %}
          <div class="col-sm-4">
          {% else %}
          <div class="col-sm-6">
          {% endif %}
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">On Demand</h4><hr>
                <h5 class="card-title"><span style="font-size: 3em;">{{ currentPrices.onDemand.pricePerHour|price }}</span><br>per hour</h5>
                <p class="card-text">{{ currentPrices.onDemand.pricePerHour|hourly_to_monthly }} per month</p>
              </div>
            </div>
          </div>


          {% if rawInstanceDetails.provider == 'AmazonEC2' %}

            {% if currentPrices.spot.pricePerHour %}
            <div class="col-sm-4">
            {% else %}
            <div class="col-sm-6">
            {% endif %}

              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Reserved</h4><hr>

                  <a data-toggle="collapse" href="#one" aria-expanded="false" aria-controls="one"><h5>One Year &#x2C5;</h5></a>
                  <div class="collapse multi-collapse" id="one">
                    <div class="card card-body">
                      <h5 class="card-title"><span style="font-size: 1.2em;">{{ currentPrices.reserved1yrFullUpfront.priceUpfront|price }}</span> up front</h5>
                      <p class="card-text">Full Upfront</p><hr style="margin-top: 0px;">
                      <h5 class="card-title"><span style="font-size: 1.2em;">{{ currentPrices.reserved1yrPartialUpfront.priceUpfront|price }}</span> up front</h5>
                      <h5 class="card-title"><span style="font-size: 1.2em;">{{ currentPrices.reserved1yrPartialUpfront.pricePerHour|price }}</span> per hour</h5>
                      <p class="card-text">Partial Upfront</p><hr style="margin-top: 0px;">
                      <h5 class="card-title"><span style="font-size: 1.2em;">{{ currentPrices.reserved1yrNoUpfront.pricePerHour|price }}</span> per hour</h5>
                      <p class="card-text">No Upfront</p>
                    </div>
                  </div><br>

                  <a data-toggle="collapse" href="#three" aria-expanded="false" aria-controls="three"><h5>Three Years &#x2C5;</h5></a>
                  <div class="collapse multi-collapse" id="three">
                    <div class="card card-body">
                      <h5 class="card-title"><span style="font-size: 1.2em;">{{ currentPrices.reserved3yrFullUpfront.priceUpfront|price }}</span> up front</h5>
                      <p class="card-text">Full Upfront</p><hr style="margin-top: 0px;">
                      <h5 class="card-title"><span style="font-size: 1.2em;">{{ currentPrices.reserved3yrPartialUpfront.priceUpfront|price }}</span> up front</h5>
                      <h5 class="card-title"><span style="font-size: 1.2em;">{{ currentPrices.reserved3yrPartialUpfront.pricePerHour|price }}</span> per hour</h5>
                      <p class="card-text">Partial Upfront</p><hr style="margin-top: 0px;">
                      <h5 class="card-title"><span style="font-size: 1.2em;">{{ currentPrices.reserved3yrNoUpfront.pricePerHour|price }}</span> per hour</h5>
                      <p class="card-text">No Upfront</p>
                    </div>
                  </div><br>

                </div>
              </div>
            </div>
          {% endif %}

          {% if currentPrices.spot.pricePerHour %}

            {% if rawInstanceDetails.provider == 'AmazonEC2' %}
            <div class="col-sm-4">
            {% else %}
            <div class="col-sm-6">
            {% endif %}
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Spot</h4><hr>
                  <h5 class="card-title"><span style="font-size: 3em;">{{ currentPrices.spot.pricePerHour|price }}</span><br>per hour</h5>
                  <p class="card-text">{{ currentPrices.spot.pricePerHour|hourly_to_monthly }} per month</p>
                </div>
              </div>
            </div>
          {% endif %}
        </div>


        <br><br>
        <table id="instances" class="table table-striped table-hover table-bordered" style="width:100%">
            <tbody>
            {% for detail in instanceDetails %}
                <tr title="{{ detail.hint }}">
                    <th>
                        {% if detail.link %}<a href="{{ detail.link }}" target="_blank">{% endif %}
                            {{ detail.name }}
                            {% if detail.link %}
                                &nbsp;&#8599;
                            {% endif %}
                            {% if detail.hint %}
                                <span style="font-size: small;"><i class="far fa-question-circle"></i></span>
                            {% endif %}
                        {% if detail.link %}</a>{% endif %}
                    </th>
                    <td>
                        {{ detail.value }} {{ detail.unit }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

      <div class="line"></div>

      <h2 style="text-align:center;">Price History</h2>

      <div id="pricehistorygraph">Loading...</div>
      <br><br><br><br>
</div>


{% endblock %}


{% block script %}

<!-- BOOTSTRAP TABLE -->
<script type="text/javascript">
  $(document).ready(function() {
    $.get('{% url 'historygraph' %}' + location.search,  function (data) {
        $('#pricehistorygraph').html(data);
    });
  });
</script>

{% endblock %}
