body {
  /* font-family: 'Poppins', sans-serif; */
}

div#header {
  height: 100vh;
  background: url("http://127.0.0.1:8000/static/images/contrail_splash.jpg")no-repeat center center fixed;
  background-size: 100% 100%;
  background-attachment: scroll;
}

h1.header {
  color: white;
  font-size: 4rem;
  text-align: center;
  padding-top: 120px;
}

div.main {
  background-color: #1414EA;
}

div.about {
  padding-top: 150px;
}
