/* For custom css */

.page-link {
  color: #71aaa7;
}

.page-link:hover {
  color: #71aaa7;
}

.page-item.active .page-link {
  background-color: #71aaa7;
  border-color: #71aaa7;
}

/* #instances_info {
  padding-bottom: 20px;
}

a.paginate_button {
  padding: .5em;
  text-decoration: none;
}


a.paginate_button:focus,
a.paginate_button:hover {
  cursor: pointer;

}

#instances_previous,
#instances_next {
  background-color: #71aaa7;
  border-radius: 5px;
  color: white;
  padding: .5em;
  text-decoration: none;
}


#instances_previous:focus,
#instances_previous:hover,
#instances_next:focus,
#instances_next:hover, {
  background-color: FireBrick;
  color: White;
  cursor: pointer;
} */
