{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div id="header">
  <h1 class="header">CONTRAIL</h1>
</div>

<div class="container-fluid main">
    <div class="row about">
      <div class="col-2"></div>
      <div class="col-8">
        <h1>ABOUT</h1>
        <br>
        <p>Explain what contrail is for. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
      <div class="col-2"></div>

    </div>

    <div class="row">
      <div class="col">
      </div>
    </div>

</div>


{% endblock %}
