{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

  <!-- Header -->
  <header class="masthead">
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center">
        <h1 class="mx-auto my-0 text-uppercase">Contrail</h1>
        <h2 class="text-white-50 mx-auto mt-2 mb-5">Find the best virtual machine for you.</h2>
        <a href="{% url "price" %}" class="btn btn-primary js-scroll-trigger">Get prices</a>
      </div>
    </div>
  </header>

  <!-- About Section -->
  <section id="about" class="about-section text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 class="text-white mb-4">Contrail</h2>
          <p class="text-white-50">
            Having trouble determining what’s the best virtual machine for you? Contrail is a public cloud market price tracker that allows you to easily access and compare the prices and characteristics of VMs over various locations and cloud providers. Filter the results to suit your needs and let Contrail help you decide what is the most affordable and best-suited VM for you!
          </p>
          <a href="{% url "price" %}" class="btn btn-primary js-scroll-trigger">Find prices</a>
          <a href="{% url "compare" %}" class="btn btn-primary js-scroll-trigger">Compare prices</a>
        </div>
      </div>
      <br><br><br>
    </div>
  </section>



  <!-- Projects Section -->
  <section id="projects" class="projects-section bg-light">
    <div class="container">

      <!-- Project One Row -->
      <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
        <div class="col-lg-6">
          <img class="img-fluid" src="{% static "img/graph.png" %}" alt="">
        </div>
        <div class="col-lg-6">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-left">
                <h4 class="text-white">See the costs of particular VM types over time.</h4>
                <!-- <p class="mb-0 text-white-50">See the costs of particular VM types over time.</p> -->
                <hr class="d-none d-lg-block mb-0 ml-0">
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Project Two Row -->
      <div class="row justify-content-center no-gutters">
        <div class="col-lg-6">
          <img class="img-fluid" src="{% static "img/balance.png" %}" alt="">
        </div>
        <div class="col-lg-6 order-lg-first">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-right">
                <h4 class="text-white">Compare price differences when VM characteristics change.</h4>
                <!-- <p class="mb-0 text-white-50">Compare price differences when VM characteristics change.</p> -->
                <hr class="d-none d-lg-block mb-0 mr-0">
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Project One Row -->
      <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
        <div class="col-lg-6">
          <img class="img-fluid" src="{% static "img/cloud.png" %}" alt="">
        </div>
        <div class="col-lg-6">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-left">
                <h4 class="text-white">Compare similar VMs across different regions and cloud providers.</h4>
                <!-- <p class="mb-0 text-white-50">Compare similar VMs across different regions and cloud providers.</p> -->
                <hr class="d-none d-lg-block mb-0 ml-0">
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Project Two Row -->
      <div class="row justify-content-center no-gutters">
        <div class="col-lg-6">
          <img class="img-fluid" src="{% static "img/payment.png" %}" alt="">
        </div>
        <div class="col-lg-6 order-lg-first">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-right">
                <h4 class="text-white">Test out different payment types to see what’s right for you.</h4>
                <!-- <p class="mb-0 text-white-50">Test out different payment types to see what’s right for you.</p> -->
                <hr class="d-none d-lg-block mb-0 mr-0">
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>

{% endblock %}

{% block footer %}
<footer class="bg-black small text-center text-white-50">
  <div class="container">
    Copyright &copy; Contrail 2019
  </div>
</footer>
{% endblock %}

{% block script %}
  <!-- Custom scripts for this template -->
  <script src="{% static "js/grayscale.min.js" %}"></script>
{% endblock %}
