{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
{% endblock %}


{% block content %}
<div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar">
        <form method="POST">
          {% csrf_token %}
          {{ form | crispy }}
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </nav>

    <!-- Page Content  -->
    <div id="content">
        <br><br>
        <button type="button" id="sidebarCollapse" class="btn btn-info">
            <i class="fas fa-align-left"></i>
            <span>Set Attributes</span>
        </button>
        <br>

        <nav id="subnav" class="navbar navbar-expand-lg navbar-light bg-light">
              <ul id="subnav" class="navbar-nav">
                    <li class="nav-item active">
                      <a class="nav-link" href="#">All</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">On Demand</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Reserved</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Spot</a>
                    </li>

              </ul>
        </nav>

        <table id="instances" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>Instance</th>
                        <!-- <th>Provider</th> -->
                        <th>Region</th>
                        <th>Operating System</th>
                        <th>VCPUs</th>
                        <th>Memory</th>
                        <!-- <th>ECU</th> -->
                        <th>Price Type</th>
                        <th>Price</th>
                        <th>Price Unit</th>
                    </tr>
                </thead>
                <tbody>

                {% for instance in instances %}
                  <tr>
                    <td>{{ instance.instance_type }}</td>
                    <!-- <td>{{ instance.provider }}</td> -->
                    <td>{{ instance.region }}</td>
                    <td>{{ instance.operating_system }}</td>
                    <td>{{ instance.vcpus }}</td>
                    <td>{{ instance.memory }}</td>
                    <!-- <td>{{ instance.ecu }}</td> -->
                    <td>{% if instance.price_type == 'on_demand' %}on demand{% endif %}</td>
                    <td>${{ instance.price | floatformat:3 }}</td>
                    <td>{{ instance.price_unit }}</td>
                  </tr>
                  {% endfor %}

                </tbody>
                <tfoot>
                    <tr>
                      <th>Instance</th>
                      <!-- <th>Provider</th> -->
                      <th>Region</th>
                      <th>Operating System</th>
                      <th>VCPUs</th>
                      <th>Memory</th>
                      <!-- <th>ECU</th> -->
                      <th>Price Type</th>
                      <th>Price</th>
                      <th>Price Unit</th>
                    </tr>
                </tfoot>
            </table>


        <div class="line"></div>

        <canvas id="myChart"></canvas>

    </div>

</div>



{% endblock %}


{% block script %}
<!-- SIDE BAR -->
<script type="text/javascript">
    $(document).ready(function () {
        $("#sidebar").mCustomScrollbar({
            theme: "minimal"
        });

        $('#sidebarCollapse').on('click', function () {
            $('#sidebar, #content').toggleClass('active');
            $('.collapse.in').toggleClass('in');
            $('a[aria-expanded=true]').attr('aria-expanded', 'false');
        });
    });
</script>

<!-- BOOTSTRAP TABLE -->
<script type="text/javascript">
  $(document).ready(function() {
    $('#instances').DataTable( {
        // "paging":   false,
        "ordering": true,
        // "info":     false,
        "columns": [
            {"type": "string"},
            {"type": "string"},
            {"type": "string"},
            {"type": "num"},
            {"type": "num"},
            {"type": "string"},
            {"type": "num"},
            {"type": "string"},
        ]
    } );
  } );

  // $(window).load(function() {
  // })


</script>

<!-- CHART.JS -->
<script type="text/javascript">
  var ctx = document.getElementById('myChart').getContext('2d');
  var chart = new Chart(ctx, {
      // The type of chart we want to create
      type: 'line',

      // The data for our dataset
      data: {
          labels: ["January", "February", "March", "April", "May", "June", "July"],
          datasets: [{
              label: "Sample Instance Chart",
              backgroundColor: 'rgb(255, 99, 132)',
              borderColor: 'rgb(255, 99, 132)',
              data: [0, 10, 5, 2, 20, 30, 45],
          }]
      },

      // Configuration options go here
      options: {}
  });
</script>

{% endblock %}
