{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block css %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css"></script>
<link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
{% endblock %}


{% block content %}
<div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar">
        <form method="POST">
          {% csrf_token %}
          {{ form | crispy }}

          <div class="range-slider">
              <input type="text" class="js-range-slider" value="" /> <br>
          </div>

          <div class="extra-controls form-inline">
            <div class="form-group">
              <input type="text" class="js-input-from form-control" value="0" style="width: 80px; margin-right: 30px;" />
              <input type="text" class="js-input-to form-control" value="0" style="width: 80px;" />
            </div>
          </div><br>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </nav>

    <!-- Page Content  -->
    <div id="content">
        <br><br>
        <button type="button" id="sidebarCollapse" class="btn btn-info">
            <i class="fas fa-align-left"></i>
            <span>Set Attributes</span>
        </button>
        <br>

        <nav id="subnav" class="navbar navbar-expand-lg navbar-light bg-light">
              <ul id="subnav" class="navbar-nav">
                    <li class="nav-item active">
                      <a class="nav-link" href="#">All</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">On Demand</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Reserved</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Spot</a>
                    </li>
              </ul>
        </nav>

        <br><br><br>
        <table id="instances" class="table table-striped table-bordered" style="width:100%">
          <thead>
              <tr>
                  <th>Instance</th>
                  <!-- <th>Provider</th> -->
                  <th>Region</th>
                  <th>Operating System</th>
                  <th>VCPUs</th>
                  <th>Memory</th>
                  <!-- <th>ECU</th> -->
                  <th>Price Type</th>
                  <th>Price</th>
                  <th>Price Unit</th>
              </tr>
          </thead>
          <tbody>

          {% for instance in instances %}
            <tr>
              <td><a href="{% url 'instance' id=1 %}">{{ instance.instance_type }}</a></td>
              <!-- <td>{{ instance.provider }}</td> -->
              <td>{{ instance.region }}</td>
              <td>{{ instance.operating_system }}</td>
              <td>{{ instance.vcpus }}</td>
              <td>{{ instance.memory }}</td>
              <!-- <td>{{ instance.ecu }}</td> -->
              <td>{% if instance.price_type == 'on_demand' %}on demand{% endif %}</td>
              <td>${{ instance.price | floatformat:3 }}</td>
              <td>{{ instance.price_unit }}</td>
            </tr>
            {% endfor %}

          </tbody>
          <tfoot>
              <tr>
                <th>Instance</th>
                <!-- <th>Provider</th> -->
                <th>Region</th>
                <th>Operating System</th>
                <th>VCPUs</th>
                <th>Memory</th>
                <!-- <th>ECU</th> -->
                <th>Price Type</th>
                <th>Price</th>
                <th>Price Unit</th>
              </tr>
          </tfoot>
      </table>
    </div>

</div>



{% endblock %}


{% block script %}

<!-- SIDE BAR -->
<script type="text/javascript">
    $(document).ready(function () {
        $("#sidebar").mCustomScrollbar({
            theme: "minimal"
        });

        $('#sidebarCollapse').on('click', function () {
            $('#sidebar, #content').toggleClass('active');
            $('.collapse.in').toggleClass('in');
            $('a[aria-expanded=true]').attr('aria-expanded', 'false');
        });
    });
</script>

<!-- SLIDER -->
<!-- https://codepen.io/anon/pen/rbpqME -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.3/jquery.min.js" ></script> -->
<script src="{% static 'js/slider.js' %}" ></script>



<!-- BOOTSTRAP TABLE -->
<script type="text/javascript">
  $(document).ready(function() {
    $('#instances').DataTable( {
        // "paging":   false,
        "ordering": true,
        // "info":     false,
        "columns": [
            {"type": "string"},
            {"type": "string"},
            {"type": "string"},
            {"type": "num"},
            {"type": "num"},
            {"type": "string"},
            {"type": "num"},
            {"type": "string"},
        ]
    } );
  } );

</script>





{% endblock %}
