/*
    DEMO STYLE
*/

/* @import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
} */


p {
    /* font-family: 'Poppins', sans-serif; */
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

a:hover {
  color: #71aaa7;
}

nav#subnav {
    /* padding: 15px 10px; */
    background: #fff !important;
    /* border: none;
    border-radius: 0;
    margin-bottom: 40px; */
    /* box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1); */
}
ul#subnav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
}

ul#subnav > li {
    display: inline-block;
    float:none;
    margin: 0px 22px;
}

/* .navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
} */

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    /* top right bottom left */
    font-size: 1em;
    padding: 100px 30px 30px 30px;
    height: 100vh;
    z-index: 999;
    background: #054269;
    color: #fff;
    transition: all 0.3s;
    align-items: center;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a .dropdown .dropbtn {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover .dropdown .dropbtn {
    color: #7386D5;
    background: #fff;
}

#sidebar a {
  display: block;
}

/* #sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
} */

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download .dropdown .dropbtn {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

.cloudProvider {
  font-size: inherit;
}

/* The container */
.checkbox-container {
  display: block;
  position: relative;
  font-size: 1em;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: small;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 10px;
  height: 15px;
  width: 15px;
  background-color: #eee;
  border-radius: 3px;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 5px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* Add an active class to the active dropdown button */
.active {
  color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-content {
  display: none;
  padding-left: 20px;
}

#sidebarCollapse {
  background-color: #71aaa7;
}

#comparebutton {
  background-color: #71aaa7;
}

/* The Modal (background) */
.compareview {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 70px;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.compare-container {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  padding-bottom: 50px;
  border: 1px solid #888;
  width: 70%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

a.active {
  color: #ed5665;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: calc(100% - 250px);
    padding: 40px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

#content.active {
    width: 100%;
}

#content h2, #aboutus h2{
  font-weight: bold;
  padding: 5px;
  color: #054269;
}

#content h3 {
  padding: 5px;
  font-weight: 600;
  color: #ed5665;
}

#content h4 {
  padding: 5px;
  font-style: oblique;
  color: #33948f;
}

#aboutus h5{
  font-size: 30px;
  color: #33948f;
}


#content p {
  color: #2d2d2d;
  padding: 0 5px 0 5px;
}

#content ul, #content ol, #content li{
  color: #2d2d2d;
}

#content li a {
  color: #2d2d2d;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
}

#content p a {
  color: #16766f;
}

#content a:hover {
  color: #71aaa7;
}

.vm {
  font-weight: 500;
  font-style: oblique;
}

.links {
  display: flex;
  flex-direction: column;
}

.section {
  box-sizing: border-box;
}

#aboutus {
  width: 90%;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  right: 0;
}

#aboutus p {
  padding-right: 70px;
}
.col {
  float: left;
  width: 40%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.pics {
  display: block;
  justify-content: center;
  width: 60%;
  height: auto;
  padding-left: 10px;
  padding-bottom: 20px;
}


#teamimg {
  display: block;
  width: 80%;
  height: auto;
  border-radius: 50%;
}

.coldescription {
  float: left;
  width: 80%;
  padding-top: 20px;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 250px);
    }
    #sidebarCollapse span {
        display: none;
    }
}
